/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#image1 { background-image: url('https://www.freepik.com/free-ai-image/portrait-athlete-competing-olympic-games-tournament_186729217.htm#fromView=keyword&page=1&position=1&uuid=beb548c4-2934-45be-9255-57d847388f23'); }
#image2 { background-image: url('https://www.freepik.com/free-ai-image/portrait-athlete-competing-olympic-games-tournament_186729217.htm#fromView=keyword&page=1&position=1&uuid=beb548c4-2934-45be-9255-57d847388f23'); }
#image3 { background-image: url('https://img.freepik.com/free-photo/portrait-athlete-competing-olympic-games-tournament_23-2151470996.jpg?t=st=1721325148~exp=1721328748~hmac=45287e6e7131b36e7c687ec3f9ce0f8eb72d56212d9dbfc87317a30e5c6807ae&w=1060'); }
#image4 { background-image: url('https://source.unsplash.com/random/4'); }
#image5 { background-image: url('https://source.unsplash.com/random/5'); }
#image6 { background-image: url('https://source.unsplash.com/random/6'); }

.image.hidden {
    transform: translateY(-100%);
    opacity: 0;
}
